@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
 * {
     margin: 0;
     padding: 0;
     font-family: 'Josefin Sans', sans-serif;
     box-sizing: border-box;
 }
 .container {
     min-height: 100vh;
     display: flex;
     flex-wrap: wrap;
     position: relative;
 }
 @media (max-width:885px) {
     .container {
         flex-direction: column-reverse;
     }
     .container .right {
         min-height: 450px;
         flex-basis: 100%;
     }
     .container-left {
         max-width: 100% !important;
         padding: 3rem 13px !important;
         text-align: center;
     }
     .container .left .container-left h1 {
         font-size: 2.5rem !important;
     }
     .container .left .container-left form {
         justify-content: center;
         transform: translateX(12px);
     }
     .container .left .container-left form input {
         width: 74% !important;
     }
     .container .left .container-left form button {
         width: 24% !important;
         transform: translateX(-40px) !important;
     }
     .container .left .container-left p {
         margin-left:auto;
         margin-right:auto;
     }
    .image-logo {
        position: absolute;
        top: 0;
        padding: 1.5rem;
        background-color: #fff;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        
    }
    .container .left .container-left .logo {
        margin-bottom: 0 !important;
        height: 30px;
    }
 }
 .container .left {
     background-color: #FFF7F8;
     background-image: url(/images/bg-pattern-desktop.svg);
     background-size: cover;
     background-repeat: no-repeat;
     flex-basis: 55%;
 }
 .container .left .container-left {
     max-width: 75%;
     padding: 3rem 0;
     margin: 0 auto;
 }
 .container .left .container-left .logo {
     margin-bottom: 8rem;
 }
 .container .left .container-left h1 {
     font-size: 4rem;
     text-transform: uppercase;
     line-height: 1.2;
     letter-spacing: 20px;
     font-weight: normal;
     margin-bottom: 1.5rem;
 }
 .container .left .container-left h1 span {
     color: hsl(0, 36%, 70%);
 }
 .container .left .container-left p {
     font-size: 1rem;
     max-width: 450px;
     line-height: 1.8;
     color: hsl(0, 36%, 70%);
     margin-bottom: 1.5rem;
 }
 .container .left .container-left form  {
     width: 100%;
     flex-wrap:wrap ;
     display: flex;
     position: relative;
 }
 .container .left .container-left form input {
     width: 70%;
     padding: 1.2rem 2rem;
     background-color: transparent;
     font-size: 1rem;
     border: 1px solid hsl(0, 36%, 70%);
     color: hsl(0, 6%, 24%);
     border-radius: 30px;
     outline: none;
 }
 .container .left .container-left form input::placeholder {
     font-size: 1rem;
     color: #E2D2D2;
 }
 .container .left .container-left form button {
    border-radius: 30px;
    width: 15%;
    outline: none;
    border: none;
    transform: translateX(-50px);
    cursor: pointer;
    transition: .2s all;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: linear-gradient( 135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
 }
 .container .left .container-left form button:hover {
     background-image:linear-gradient( 135deg,hsl(0, 80%, 85%),hsl(0, 74%, 72%));;
 }
 .container .right {
    flex-basis: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/hero-desktop.jpg);
}